html {
}
header {
    font-size: 40px;
    font-weight: bold;
}
header a {
    text-decoration: none;
}
header a:visited {
    text-decoration: none;
}
#Container {
    width: 890px;
    margin: auto;
}
a {
    color: #5CBA6B;
}
a:visited {
    color: #287434;
}
footer {
    font-size: x-small;
    text-align: right;
}
table.toc {
    margin-left: 10px;
}
h1 {
    font-size: 20px;
}
