Makefile
inc/
META.yml
Makefile
blib/
inc/
pm_to_blib
*.sw[po]
^\.git/
MANIFEST.bak
*.old
MANIFEST
MYMETA.yml
eg/Hello/Makefile
eg/Hello/META.yml
eg/Hello/test.db
MYMETA.*
MyApp/
ppport.h
*.bak
Build
_build/
xshelper.h
tags
META.json
README
^inc/
Amon2-*/
