language: perl
before_script:
  - "git config --global user.email 'you@example.com'"
  - "git config --global user.name 'Your Name'"
install:
  - "cpanm --notest Module::Build ExtUtils::ParseXS"
  - "cpanm --with-recommends --with-suggests --installdeps --notest ."
perl:
  - "5.14"
  - "5.16"
  - "5.18"
